*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}
.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: .5;
    z-index: -1;
}
.layer-blur{
    height: 0;
    width: 480px;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px rgba(200, 200, 200, 1);
    rotate: -30deg;
    z-index: -1;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
}
header h1{
    margin: 0;
    font-size: 48px;
    font-weight: 300;
    transition: .2s ease;
    cursor: pointer;
}
header:hover h1{
    color: #555;
}
h1 span{
    color: #555;
    transition: .2s ease;
    cursor: pointer;
}
header:hover span{
    color: #e7e7e7;
}
nav{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-left: -5%;
}
nav a{
    font-size: 16px;
    letter-spacing: 1.6px;
    transition: .2s ease;
    text-decoration: none;
    color: #ddd;
    z-index: 100;
}
nav a:hover::after{
    width: 50px;
}
nav a:hover{
    color: #666;
}
.a14{
    padding: .8em 1.6em;
    border-radius:3rem;
    background-color:hsl(0, 0%, 56%) ;
    transition: all .4s ease-in-out;
    color: white;
    text-decoration: none;
    z-index: 100;
}
.a14::after{
    content: "";
    height: 20%;
    width: 40%;
    background: linear-gradient(80deg ,hsl(0 , 0% , 80%)10%, hsl(0 , 0% , 70%)48%);
    margin: 0 auto;
    filter: blur(10px);
    transition: opacity .4s;
    z-index: -1;
    border-radius: 3rem;
    opacity: 0;
}
.a14 span{
    position: relative;
    text-align: center;
    z-index: 1111;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.a14 img{
    position: absolute;
    pointer-events: none;
    opacity: 0;
    margin: auto;
    transition: all .6s ease-in-out;
}
.cone{
    width: 25px;
    transform: translate(-25px , -6px) rotate(55deg);
    filter: blur(.5px);
    right: 150px;
    top: 40px;
}
.donut{
    width: 30px;
    transform: translate(7px , -14px) rotate(80deg);
    right: 140px;
    top: 50px;
}
.hexagonal{
    width: 30px;
    transform: translate(34px , -4px) rotate(-45deg);
    filter: blur(.5px);
    right: 150px;
    top: 50px;
}
.sphere{
    width: 27px;
    transform: translate(-5px , 15px)rotate(40deg);
    right: 145px;
    top: 35px;
}
.a14:hover::after{
    opacity: 1;
}
.a14:hover img{
    opacity: 1;
}
.a14:hover .cone {
    transform: translate(-38px, -10px) scale(1.2);
}
  
.a14:hover .donut {
    transform: translate(7px, -32px) scale(1.1);
}
  
.a14:hover .hexagonal {
    transform: translate(50px, -20px) scale(1.1);
}
.a14:hover .sphere {
    transform: translate(-14px, 20px) scale(1.1);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 96px);
}
.content{
    max-width: 640px;
    margin-left: 10%;
    z-index: 999;
}
.tag-box{
    position: relative;
    width: 288px;
    height: 40px;
    border-radius: 50px;
    background: linear-gradient(to right ,#656565 ,#7f42a7 ,#6600c5 ,#5300a0 ,#757575 ,#656565);
    background-size: 200%;
    animation: animation 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(200, 200, 200 , 0.3);
}
@keyframes animation{
    to{
        background-position: 200%;
    }
}
.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}
.tag-box .tag:hover{
    color: #5300a0;
}
.content h1{
    font-size: 64px;
    letter-spacing: 1.6px;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128 , 0.4);
    margin: 32px;
}
.description{
    font-size: 20px;
    letter-spacing: 0.3px;
    max-width: 560px;
    color: gray;
}
.buttons{
    display: flex;
    gap: 16px;
}
.btn-get-started{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 12px 20px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 1.6px;
    transition: .2s ease;
}
.btn-get-started:hover{
    background-color: #1a1a1a;
}
.btn-signing-main{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: rgb(184, 184, 184);
    font-weight: 600;
    letter-spacing: 1.6px;
    transition: .2s ease;
    margin-top: 0px;
}
.btn-signing-main:hover{
    background-color: rgb(128, 128, 128);
}
.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
    cursor: grab;
}
/* responsativity */
@media (max-width: 1300px) {
    header{
        padding: 16px 8px;
    }
    .content{
        margin-top: 85%;
    }
    .a14{
        margin-right: 55px;
    }
    .robot-3d{
        scale: 0.8;
        top: -20%;
        right: 2%;
    }
}

@media (max-width: 768px){
    header{
        padding: 16px 1.6px;
    }
    nav{
        display: none;
    }
    header h1{
        font-size: 32px;
    }
    .content{
        margin-top: 400px;
    }
    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: 0;
    }
    .content{
        max-width: 180px;
        margin-left: 10%;
    }
    .tag-box{
        width: 250px;
    }
    .content h1{
        font-size: 40px;
        min-width: 60vw;
        margin: 32px 0;
    }
    .description{
        font-size: 16px;
        min-width: 60vw;
        margin-bottom: 20px;
    }
    .btn-get-started{
        font-size: 14px;
        padding: 14px 32px;
    }
    .btn-signing-main{
        font-size: 14px;
        padding: 14px 32px;
    }
}
@media (max-width: 400px){
    .buttons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}